// color
$c-primary: #AA0601;
$c-secondary: #650300;
$c-white: #ffffff;
$bg-secondary:#FBF2F2;

// font-weight
$fw-l: 700;
$fw-m: 500;
$fw-normal: 400;

// font-size
$fs-normal: 16px;
$header-fs-l: 20px;
$header-fs-s: 16px; 
$footer-fs-l: 36px;
$index-title-xl: 64px;
$index-title-l: 48px;
$index-title-m: 36px;
$index-title-s: 24px;
$product-nav-l: 32px;
$product-nav-m: 24px;
$product-nav-s: 16px;
$product-title-l: 42px;
$product-title-m: 32px;
$product-text: 24px;
$stores-title-l: 48px;
$stores-title-m: 24px;
$stores-text: 20px;
