<header class="bg-primary">
    <div class="container header-rwd">
        <nav class="d-flx jc-space-btwn ai-center">
            <h1>
                <a href="./index.html"><img class="header-logo" src="../assets/images/logo-white.png" alt="logo"></a>
            </h1>
            <ul class="d-flx header-nav">
                <li class="header-list-rwd"><a class="header-list" href="./product-optical.html">系列鏡框</a></li>
                <li class="header-list-rwd"><a class="header-list" href="./stores.html">門市據點</a></li>
                <li class="header-list-rwd"><a class="header-list" href="#">部落格</a></li>
                <li class="header-list-rwd"><a class="header-list" href="#">常見問題</a></li>
            </ul>
        </nav>
    </div>
</header>