<div class="d-flx">
    <ul class="page-nav d-flx margin-0-auto">
        <li><a class="page" href="#">上一頁</a></li>
        <li><a class="page" href="#">1</a></li>
        <li><a class="page page2" href="#">2</a></li>
        <li><a class="page" href="#">3</a></li>
        <li><a class="page" href="#">4</a></li>
        <li><a class="page" href="#">5</a></li>
        <li><a class="page" href="#">下一頁</a></li>
    </ul>
</div>