<div class="container">
    <ul class="d-flx card-row">
        <li class="w-33"><a class="product-type" href="./product-optical.html">OPTICAL</a></li>
        <li class="w-33"><a class="product-type" href="./product-sunglasses.html">SUNGLASSES</a></li>
        <li class="w-33"><a class="product-type" href="#">FUNCTIONAL</a></li>
    </ul>
  </div>