<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>門市據點</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <%- include('./layout/header'); %>

  <div class="container">
    <div class="store-wrap">
        <h2 class="store-title">門市據點</h2>
        <form class="store-form d-flx ai-center">
            <label class="store-location" for="location-select">選擇地區</label>
            <select class="location-select" name="location" id="location-select">
                <option value="Taipei">台北市</option>
                <option value="Taichung">台中市</option>
                <option value="Kaohsiung">高雄市</option>
            </select>
        </form>
        <ul class="d-flx card-row store-group">
            <li class="col-4 col-md-6 col-sm-12">
                <div class="store-card d-flx">
                    <img src="../assets/images/store-1.png" alt="台北中山旗艦店">
                    <h3 class="store-name">台北中山旗艦店</h3>
                    <ul class="store-contact d-flx">
                        <li class="d-flx ai-center">
                            <span class="material-symbols-outlined store-contact-icon">
                                call
                                </span>
                            <a href="tel:+020001234">電話：(02)000-1234</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined store-contact-icon">
                                schedule
                                </span>營業時間：10:00-21:00
                        </li>
                        <li class="d-flx ai-center">
                                <p><span class="material-symbols-outlined store-contact-icon">
                                location_on
                                </span>地址：台北市中山區南京東路25巷2-1號</p>
                        </li>
                    </ul>
                    <a class="store-detail" href="./store-zhongshan.html">詳細資訊</a>
                </div>
            </li>
            <li class="col-4 col-md-6 col-sm-12">
                <div class="store-card d-flx">
                    <img src="../assets/images/store-1.png" alt="台北綠園店">
                    <h3 class="store-name">台北綠園店</h3>
                    <ul class="store-contact d-flx">
                        <li class="d-flx ai-center">
                            <span class="material-symbols-outlined store-contact-icon">
                                call
                                </span>
                            <a href="tel:+020002345">電話：(02)000-2345</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined store-contact-icon">
                                schedule
                                </span>營業時間：10:00-21:00
                        </li>
                        <li class="d-flx ai-center">
                                <p><span class="material-symbols-outlined store-contact-icon">
                                location_on
                                </span>地址：台北市中正區復興南路 132-1 號</p>
                        </li>
                    </ul>
                    <a class="store-detail" href="#">詳細資訊</a>
                </div>
            </li>
           
            <li class="col-4 col-md-6 col-sm-12">
                <div class="store-card d-flx">
                    <img src="../assets/images/store-3.png" alt="台中清水旗艦店">
                    <h3 class="store-name">台中清水旗艦店</h3>
                    <ul class="store-contact d-flx">
                        <li class="d-flx ai-center">
                            <span class="material-symbols-outlined store-contact-icon">
                                call
                                </span>
                            <a href="tel:+020001234">電話：(02)000-1234</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined store-contact-icon">
                                schedule
                                </span>營業時間：10:00-21:00
                        </li>
                        <li class="d-flx ai-center">
                                <p><span class="material-symbols-outlined store-contact-icon">
                                location_on
                                </span>地址：台中市清水區經南一路 23 號 8 樓</p>
                        </li>
                    </ul>
                    <a class="store-detail" href="#">詳細資訊</a>
                </div>
            </li>
            <li class="col-4 col-md-6 col-sm-12">
                <div class="store-card d-flx">
                    <img src="../assets/images/store-4.png" alt="高雄中正形象店">
                    <h3 class="store-name">高雄中正形象店</h3>
                    <ul class="store-contact d-flx">
                        <li class="d-flx ai-center">
                            <span class="material-symbols-outlined store-contact-icon">
                                call
                                </span>
                            <a href="tel:+020001234">電話：(02)000-1234</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined store-contact-icon">
                                schedule
                                </span>營業時間：10:00-21:00
                        </li>
                        <li class="d-flx ai-center">
                                <p><span class="material-symbols-outlined store-contact-icon">
                                location_on
                                </span>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                        </li>
                    </ul>
                    <a class="store-detail" href="#">詳細資訊</a>
                </div>
            </li>
            <li class="col-4 col-md-6 col-sm-12">
                <div class="store-card d-flx">
                    <img src="../assets/images/store-5.png" alt="高雄夢時代店">
                    <h3 class="store-name">高雄夢時代店</h3>
                    <ul class="store-contact d-flx">
                        <li class="d-flx ai-center">
                            <span class="material-symbols-outlined store-contact-icon">
                                call
                                </span>
                            <a href="tel:+020001234">電話：(02)000-1234</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined store-contact-icon">
                                schedule
                                </span>營業時間：10:00-21:00
                        </li>
                        <li class="d-flx ai-center">
                                <p><span class="material-symbols-outlined store-contact-icon">
                                location_on
                                </span>地址：台北市中山區南京東路25巷2-1號</p>
                        </li>
                    </ul>
                    <a class="store-detail" href="#">詳細資訊</a>
                </div>
            </li>
        </ul>
    </div>
    
  </div>

  <%- include('./layout/footer'); %>
  <script type="module" src="../main.js"></script>
</body>
</html>